anyio==3.3.2
asgiref==3.4.1
backports.zoneinfo==0.2.1
bootstrap4==0.1.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
falcon==2.0.0
gunicorn==20.1.0
h11==0.12.0
hug==2.6.1
idna==3.2
importlib-metadata==4.8.1
numpy==1.21.2
psycopg2==2.9.1
psycopg2-binary==2.9.1
requests==2.26.0
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
tornado==6.1
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
zipp==3.6.0
