anyio==4.0.0
asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
falcon==2.0.0
gunicorn==20.1.0
h11==0.12.0
hug==2.6.1
idna==3.2
importlib-metadata==4.8.1
Jinja2==3.0.2
MarkupSafe==2.0.1
#psycopg2==2.9.1
#psycopg2-binary==2.9.1
python-multipart==0.0.5
requests==2.26.0
six==1.16.0
sniffio==1.2.0
starlette==0.32.0.post1
tornado==6.1
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
zipp==3.6.0
websockets==11.0.2
zipp==3.6.0