#controls_container {
    /*position: absolute;
    position: fixed;*/
    bottom: 0px;
    width: 100%;
    /* background-color: #ddd; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
    /*margin-bottom: 10px;*/
    margin-top: 20px;
}

#ricomincia,
#gobtn,
#reset {
    height: 100%;
    border: 3px solid black;
    background-color: white;
    padding: 0px 20px;
    position: relative;
    border-radius: 20px;
    background-image: linear-gradient(0deg, #aaa, white);
    margin: 0px 5px;
    color: black;
    /*display: inline-flex;*/
    min-height: 50px;
    display: inline-block;
    align-items: center;
}

#ricomincia::before,
#gobtn::before,
#reset::before {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
}

#gobtn{
	background: lightgray;
	background: linear-gradient(0deg, #008d00, #40ff40);
    font-size: 4vw;
    font-size: 16px;
}

#reset {
    background-color: lightgray;
    background-image: linear-gradient(0deg, #aa0000, #ff4444);
    font-size: 4vw;
    font-size: 16px;
}

#ricomincia {
    background-color: lightgray;
    background-image: linear-gradient(0deg, #aa0000, #ff4444);
    font-size: 4vw;
    font-size: 16px;
}

#ricomincia::before {
    background-image: url("/static/img/restart_icon.svg");
}

#gobtn::before {
    background-image: url("/static/img/confirm_icon.svg");
}

#gobtn.retrybtn::before {
    background-image: url("/static/img/restart_icon.svg");
}

#reset::before {
    background-image: url("/static/img/eraser_icon.svg");
}

#ricomincia[disabled]::before,
#gobtn[disabled]::before,
#reset[disabled]::before {
    filter: contrast(0);
}

button#gobtn.retrybtn {
    background-color: yellow;
    background: linear-gradient(0deg, #ffff00, #ffffaa);
}

button[disabled] {
    background: lightgray !important;
    color: gray !important;
}