#header {
    position: absolute;
    position: fixed;
    width: 100%;
    background: #33261D;
    display: inline-block;
    padding: 5px 10px;
    min-height: 30px;
    align-content: center;
    /*background-color: white !important;*/
}

#player_name {
    float: left;
    flex-grow: 1;
    display: flex;
    justify-content: start;
    gap: 10px;
}

#points {
    float: right;
    font-family: Digital;
    letter-spacing: 3px;
    color: #E4572E;
}